[Unit]
Description=VPN client app for wireguard
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=emason
WorkingDirectory=/home/emason/vpn-client/vpn_client-0.1.0
ExecStart=/home/emason/.local/bin/uv run --project /home/emason/vpn-client/vpn_client-0.1.0 flask --app vpn_client.app run --host=0.0.0.0

[Install]
WantedBy=multi-user.target
